.footer {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        height: 2px;
        background-color: #DFDFDF;
        @media (min-width: 1200px) {
            width: 100%;
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        height: 2px;
        background-color: #DFDFDF;
        @media (min-width: 768px) {
            bottom: -30px;
        }
        @media (min-width: 1200px) {
            width: 100%;
            bottom: -50px;
        }
    }
    &_content {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 768px) {
            align-items: flex-start;
        }
        @media (min-width: 1200px) {
            margin-top: 80px;
        }
        &_logo {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            @media (min-width: 768px) {
                margin-bottom: 40px;
            }
            @media (min-width: 1200px) {
                width: 20%;
                margin-top: 55px;
                justify-content: flex-start;
            }
            &_mob {
                display: block;
                @media (min-width: 1200px) {
                    display: none;
                }
            }
            &_desktop {
                display: none;
                @media (min-width: 1200px) {
                    display: block;
                }
            }
        }
        &_item {
            @media (min-width: 768px) {
                width: 30%;
            }
            @media (min-width: 1200px) {
                width: 20%;
            }
            & h3 {
                font-family: "Montserrat-SemiBold";
                font-size: 16px;
                line-height: 20px;
                color: #292929;
                margin-bottom: 5px;
                @media (min-width: 1200px) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }           
            & ul {
                & li {
                    margin-top: 10px;
                    @media (min-width: 1200px) {
                        margin-top: 15px;
                    }
                    & a {
                        font-family: "Montserrat-Regular";
                        font-size: 12px;
                        line-height: 15px;
                        color: #292929;
                        @media (min-width: 1200px) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
            &-buyer {
                & ul {
                    & li {
                        text-align: right;
                        @media (min-width: 768px) {
                            text-align: left;
                        }
                    }
                }
            }
            &-contacts {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                position: relative;
                @media (min-width: 768px) {
                    flex-direction: column;
                    margin-top: 0px;
                }
                @media (min-width: 1200px) {
                    width: 27%;
                }
                & h3 {
                    text-align: center;
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    margin-bottom: 15px;
                    @media (min-width: 768px) {
                        text-align: left;
                        margin-bottom: 0px;
                    }
                }
                &_item {
                    width: 50%;
                    @media (min-width: 768px) {
                        width: 100%;
                    }
                    & a {
                        font-family: "Montserrat-Regular";
                        font-size: 12px;
                        letter-spacing: 0.04em;
                        color: #292929;
                        line-height: 15px;
                        @media (min-width: 1200px) {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    &_links {
                        display: none;
                        @media (min-width: 768px) {
                            display: flex;
                            margin-top: 10px;
                            & a {
                                margin-right: 8px;
                            }
                            &_tel {
                                font-family: "Montserrat-Regular";
                                font-size: 16px;
                                line-height: 20px;
                                color: #292929;
                                margin-right: 10px;
                                &:hover {
                                    color: #292929;
                                }
                            }
                        }
                        @media (min-width: 1200px) {
                            margin-top: 15px;
                        }
                    }
                    &-first {
                        @media (min-width: 768px) {
                            margin-top: 15px;
                            position: relative;
                            &:after {
                                content: "";
                                width: 188px;
                                height: 1px;
                                position: absolute;
                                left: 0;
                                bottom: -5px;
                                background-color: #D7BFA9;
                            }
                        }
                        @media (min-width: 1200px) {
                            margin-top: 25px;
                            &:after {
                                bottom: -10px;
                            }
                        }
                    }
                    &-second {
                        & a {
                            text-align: right;
                            display: block;
                            @media (min-width: 768px) {
                                text-align: left;
                            }
                        }
                        @media (min-width: 768px) {
                            margin-top: 10px;
                        }
                        @media (min-width: 1200px) {
                            margin-top: 20px;
                        }
                    }
                    &_insta {
                        width: 100%;
                        margin-top: 50px;
                        text-align: center;
                        @media (min-width: 768px) {
                            width: auto;
                            margin-top: 10px;
                        }
                        @media (min-width: 1200px) {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

.copyright {
    margin-top: 25px;
    box-sizing: border-box;
    padding-bottom: 15px;
    @media (min-width: 768px) {
        margin-top: 45px;
    }
    @media (min-width: 1200px) {
        margin-top: 80px;
    }
    &_main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        & p {
            font-family: "Roboto-Light";
            font-size: 10px;
            line-height: 12px;
            color: #292929;
            @media (min-width: 1200px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
        & a {
            font-family: "Roboto-Light";
            font-size: 10px;
            line-height: 12px;
            color: #292929;
            @media (min-width: 1200px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}